[defaults]
inventory = ./inventory/hosts.yml
collections_path = .:~/.ansible/collections:/usr/share/ansible/collections:/usr/lib/python3/dist-packages
remote_user = root
interpreter_python = /usr/bin/python3
host_key_checking = False

[privilege_escalation]
become = True
